* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Tiro Telugu', serif;
  box-sizing: border-box;
}

.imgcontainer {
  background-color: aliceblue;
  background-image: url("Images/lightmode.avif");
  background-size: 100vw 100vh;
  background-attachment: fixed;
}

.headingvisible {
  color: none;
  color: white;
}

.nav {
  height: 10vh;
  background-color: #000000;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  top: 0;
  width: 100%;
}


.logobox {
  height: 9.5vh;
  width: 10.5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2px 0px;
}

.logo {
  width: 7vw;
  height: 9vh;
  background-image: url("Images/PGALOGO.png");
  background-size: 100% 100%;
}


.links {
  display: flex;
  list-style: none;
  justify-content: space-between;
  margin: 15px 0px;
  align-items: center;
  width: 60vw;
  line-height: 6vh;
  font-size: 1.1rem;
  /* background-color: red; */
}

.links a {
  cursor: pointer;
  text-decoration: none;
  color: white;
  padding: 6px;
}

.links a:hover {
  color: white;
  box-shadow: 0px 0px 0px 1.5px;
}


/* This is the whole options container */

.bodyvisible {
  background-image: url("Images/darkmode.avif");
}

.settings{
  cursor: pointer;
  margin-left: -30px;
}


.fa-gear{
  font-size: 20px;
  color: white;
}

.settingsLabel{
  display: none;
  font-size: 13px;
  margin-top: 7px;
  margin-left: -20px;
  background-color: rgb(238, 215, 171);
  color: #000000;
  padding: 5px;
}

  
/* From here starts the mininavbar for additional options */


.mininav {
  height: 4vh;
  width: 98.1vw;
  background-color: #082032;
  display: flex;
  justify-content: space-around;
}

.miniul {
  height: 4vh;
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 2px;
}

.minili {
  list-style: none;
  color: #fff;
  cursor: pointer;
  font-size: 0.95rem;
}

.filterContainer{
  padding: 10px;
  z-index: 1;
  display: flex;
  justify-content: space-around;
  align-items: center ;
  flex-direction: row;
}

.priceContainer{
  background-color: rgb(155, 154, 154);
  padding: 6px;
}

.priceHeading{
  text-align: center;
  color: white;
}


.minPriceLabel{
  color: #000000;
  font-size: 1.5rem;
  margin: 0px 5px;
  color: white;
}

.minPrice{
  border: 1px solid black;
  outline: none;
  margin-bottom: 8px;
  padding: 0px 5px;
  width: 10vw;
}

.maxPriceLabel{
  color: #000000;
  font-size: 1.5rem;
  margin: 0px 5px;
  color: white;
}

.maxPrice{
  border: 1px solid black;
  outline: none;
  margin-bottom: 8px;
  padding: 0px 5px;
  width: 10vw;
}

.minPriceButton{
  background-color: rgb(19, 80, 194);
  color: white;
  font-size: 1rem;
  margin-right: 8px;
  margin-left: 6px;
  border-radius: 10%;
  border: 2px solid black;
  padding: 6px;
}

.maxPriceButton{
  background-color: rgb(19, 80, 194);
  color: white;
  font-size: 1rem;
  margin-right: 8px;
  margin-left: 6px;
  border-radius: 10%;
  border: 2px solid black;
  padding: 6px;
}

.minPriceButton:hover{
  background-color: #1eb90de8;
}

.maxPriceButton:hover{
  background-color: #1eb90de8;
}


/* The search button starts from here */
.searchButton{

  background-color: rgb(19, 80, 194);
  color: white;
  font-size: 1rem;
  margin-right: 8px;
  margin-left: 6px;
  border-radius: 10%;
  border: 2px solid black;
  padding: 3px;

}

.resetButton{
  background-color: rgb(19, 80, 194);
  color: white;
  font-size: 1rem;
  margin-right: 8px;
  margin-left: 6px;
  border-radius: 10%;
  border: 2px solid black;
  padding: 3px;
}

.SearchLabel{
  color: #000000;
  font-size: 1.2rem;
  margin: 0px 5px;
  color: white;
}

.searchBar{

  border: 1px solid black;
  outline: none;
  margin-bottom: 8px;
  padding: 2px 5px;
  width: 30vw;
  font-size: 20px;

}

.searchButton:hover{
  background-color: #1eb90de8;
}

.searchContainer{
  background-color: rgb(155, 154, 154);
  height: 17vh;
  width: 40vw;
  text-align: center;
  padding-top: 18px;
}


.buttonsection{
  display: flex;
  justify-content: space-around;

}


.container {
  min-height: 90vh;
  min-width: 95vw;
}

.span {
  position: absolute;
  right: 0;
}

.jojo {
  min-width: 89vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
}

.heading {
  display: flex;
  justify-content: center;
  margin: 25px 0px 10px 0px;
  text-align: center;
  font-weight: 600;
  color: #000000;
  font-size: 2.3rem;
}



/* From here is the cards and all the detaiils of the cards also including card info buttons etc */
.card {
  border: 2px solid black;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin: 10px 10px;
  justify-content: space-around;
  box-shadow: 0px 4px 20px 2px rgb(200, 200, 200);
  background-color: hsla(0, 0%, 57.6%, .1);

}

.cardvisible {
  background-color: white;
}

.badges {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1.3rem;
  padding: 5px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}



.card:hover {
  transform: scale(1.02);
  box-shadow: 0px 3px 4px 4px rgba(7, 6, 6, 0.7);
  transition: all 0.5s ease-in-out;
}


.card-img-top {
  min-height: 22rem;
  min-width: 10rem;
  border: 2px solid black;
  cursor: pointer;
}

.card-title {
  display: flex;
  justify-content: center;
  font-weight: 600;
  margin: 3px 0px;
}

#details {
  font-size: 18px;
}

.card-text {
  margin: 0px;
  display: flex;
  justify-content: center;
}

.detail1 {
  margin: 0px;
  width: 23vw;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0px 5px;
  margin: 5px 0px;
  font-size: 1.15rem;
  font-weight: 600;
}

.detail2 {
  margin: 0px;
  font-size: 1.2rem;
  width: 20vw;
  display: flex;
  justify-content: space-around;
  font-weight: 600;
}


/* From here starts the hover and buttons showing effect */

.buttonshover {
  background-color: hsla(0, 0%, 57.6%, .1);
  width: 100%;
  position: absolute;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.3rem;
  font-weight: 700;
  visibility: hidden;
}


.buybutton {
  margin: 15px 0px;
}


.shopbutton {
  background-color: #73e600;
  color: black;
  border-radius: 20px;
  padding: 10px;
  min-width: 14vw;
  font-size: 1.3rem;
  font-weight: 700;
  box-shadow: 0px 2px 15px 10px rgb(31, 27, 27);
}

.detailbutton {
  background-color: #73e600;
  color: black;
  border-radius: 20px;
  padding: 10px;
  min-width: 14vw;
  font-size: 1.3rem;
  font-weight: 700;
  box-shadow: 0px 2px 15px 2px rgb(7, 6, 6);
}


.card:hover .buttonshover {
  visibility: visible;
}



.btn-primary:hover {
  background-color: yellow;
  color: black;
}


.card-body {
  margin: 0;
  padding: 0;
}


/* Here are all the animations and the responsive parts of the Home */


@media screen and (max-width:1300px) {
  .jojo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

}

@media screen and (max-width:900px) {

  .miniul {
    width: 98.7vw;
    padding: 0px;
  }

  .minili{
    font-size: 0.8rem;
  }

  .mininav {
    display: flex;
    justify-content: space-between;
  }



  .button {
    min-width: 12vw;
    margin-right: 11px;
  }

  .search {
    width: 80vw;
  }



  .search {
    display: flex;
    align-items: center;
  }

  .nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 35vh;
  }



  .links {
    width: 90vw;
    display: flex;
    justify-content: space-between;
    margin: 5px 0px;
    padding: 0px;
  }

  .links a{
    font-size: 1rem;
  }

  .logo {
    width: 30vw;
  }
  
  .logobox {
    width: 40vw;
  }  

  .detail1{
    width: 50vw;    
  }
  
  .card-text{
    width: 20vw;
    margin: 1px 45px 0px 0px;
  }
  
}

@media screen and (max-width:750px) {
  .detail1 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    
  }

  .shopbutton {
    width: 50vw;
  }

  .detailbutton {
    width: 50vw;
  }
  
  .detail2 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .logobox{
    width: 41vw;
  }

  .logo {
    width: 41vw;
  }

  .heading{
    font-size: 1.7rem;
  }

  .minPrice{
    width: 20vw;
  }

  .maxPrice{
    width: 20vw;
  }

  .prodContainer{
    margin-left: 1vw;
  }

  #createProdButton{
    width: 40vw;
  }

  
}